
activemqldap {
    org.apache.activemq.artemis.spi.core.security.jaas.LDAPLoginModule ${LDAP_REQUIRED}
        debug=${LDAP_DEBUG}
        initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory
        connectionURL="${LDAP_CONNECTION_URL}"
        connectionUsername="${LDAP_CONNECTION_USERNAME}"
        connectionPassword="${LDAP_CONNECTION_PASSWORD}"
        connectionProtocol=s
        authentication=simple
        userBase="${LDAP_USER_BASE}"
        userSearchMatching="${LDAP_USER_SEARCH_MATCHING}"
        userSearchSubtree="${LDAP_USER_SEARCH_SUBTREE}"
        roleBase="${LDAP_ROLE_BASE}"
        roleName="${LDAP_ROLE_NAME}"
        roleSearchMatching="${LDAP_ROLE_SEARCH_MATCHING}"
        roleSearchSubtree="${LDAP_ROLE_SEARCH_SUBTREE}
        ;
};